.rmdp-week-day {
  color: black;
}

.rmdp-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 3px;
  margin-top: 5px;
  padding: 2px;
  width: 3px;
}

.rmdp-range {
  background-color: black;
  border-radius: 30%;
}

.rmdp-range-hover{
  background-color: black;
}

.rmdp-day.rmdp-today span {
  background-color: black;
  color: #fff;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover{
    background-color: black ;
    color:#fff;
}

.rmdp-header{
    font-size: 1.2rem;
    align-items: flex-start;
}

.rmdp-header > div {
    display: flex;
    align-items: flex-start;
}

.rmdp-header-values {
    color: #000;
    margin-right:auto;
    margin:0.1px;
}
.rmdp-day-picker{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rmdp-shadow {
    box-shadow: 0 0 0px #fff;
}

.rmdp-day.rmdp-selected span:not(.highlight){
  background-color: black;
}

.rmdp-arrow-container {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  justify-content: center;
  margin: 0 5px;
  width: 25px;
}

.rmdp-arrow-container:hover{
  background-color: #000;
  color:#fff;
}
